.album_thumbnail= thumbnail_tag(album)
.album_details
  .title= link_to(album.title, album)
  .rating
    - (album.rating.to_i / 20).times do |i|
      .stars.bright
    - (5 - (album.rating.to_i / 20)).times do |i|
      .stars
.clear