- alb = artist.albums.detect{|a| a.thumbnail} || artist.albums.first
.album_thumbnail= thumbnail_tag(alb)
.album_details
  .title= link_to artist.name, artist
  - artist.albums.sort{|a,b| a.title.to_s.downcase <=> b.title.to_s.downcase}.each do |album|
    .artist_album= link_to(album.title, album)
.clear