%title= @album

#container.container_12

  #breadcrumbs.grid_12
    %ul
      %li
        %a{:href=>"/"} Music
      %li &gt;
      %li
        %a{:href=>artist_url(@artist)}= @artist
      %li &gt;
      %li= @album

  #songlist.grid_4
  
    #controls
      %ul
        %li
          %a#prev{:href=>'#'} &lt;
          %a#play{:href=>'#'} Play
          %a#pause{:href=>'#'} Pause
          %a#next{:href=>'#'} &gt;
          %span#position &nbsp;
      
    - @songs.each_with_index do |song, i|
      .songrow
        %a.song{:href=>song_url(song), :id=>"song_#{i+1}"}= song_display(song)
    #jquery_jplayer
    #status
  
  #cover.grid_8
    - if @cover
      %img{:src => @cover, :class=>'bounded', :id=>'cover_image'}
      
  .clear &nbsp;
