%title= @album

#container.container_12
  #left.grid_4
    #artist
      %a{:href=>artist_url(@artist)}= @artist
    #album
      %span= @album
    #controls
      %ul
        %li
          %a.button{:id => "play", :href=>"#"}
            %span play
        %li
          %a.button{:id => "prev", :href=>"#"}
            %span &lt;&lt;
        %li
          %a.button{:id => "next", :href=>"#"}
            %span &gt;&gt;
        %li
          #loaded
    #songlist
      - @songs.each_with_index do |song, i|
        .songrow
          %a.song{:href=>song_url(song), :id=>"song_#{i+1}"}= song_display(song)
    #player_container
      %audio{:id=>"player",:autobuffer=>"autobuffer", :autoplay=>false}
    #home
      %a{:href=>"/"} < home
    #errors
  #right.grid_8
    #cover
      - if @cover
        %img{:src => @cover, :class=>'bounded', :id=>'cover_image'}
  .clear &nbsp;
 