%title= @artist

#container.container_12

  #left.grid_12
    #artist= @artist
    #songlist
      - @albums.each do |album|
        %a{:href=>album_url(album)}= album
        %br
    #home
      %a{:href=>"/"} < home
