%link{:type=>"text/css", :href=>"/css/default.css", :media=>"screen", :rel=>"stylesheet"}
%script{:type=>'text/javascript', :src=>'/js/jquery-1.4.2.min.js'}
%script{:type=>'text/javascript', :src=>'/js/ttunes.js'}
= yield
