#container {
    margin-left:20px;
    margin-right:20px;
    max-width:none;
}
.index .published {
    display:block;
    width:100%;
    float:none;
    margin:80px 0;
    text-align:center;
}
.index .entry {
    margin:40px 0;
}
