/* TEXT */

body {
    font-size:16px;
    line-height:1.2;   /* 30px */
    font-family: corbel, 'lucida grande', helvetica, sans-serif;
    color:#212122;
    background-color:#eee;
}

#container {
	padding-top:10px;
}

#home {
    padding-top:16px;
    font-size:12px;
}

#artist {
    font-size: 30px;
}

#album {
    font-size:18px;
}

#errors {
    padding-top:20px;
    color: #d00;
    font-weight:bold;
}

.path_sep {
	font-size: 10px;
}

ul {
    list-style-type:none;
    padding: 0px;
    margin:0;
    overflow:hidden;
}

li {
    float:left;
    padding-right:10px;
}


/* COVER */
#cover_image {
	padding: 10px;
	background: #fff;
}
#cover_image.bounded {
	max-width:400px;
}

/* LINKS */
a, a:link {
    color:#111;
    text-decoration: none;
}
a:visited {
    color:#666;
    background:#fff;
}
a:hover {
    background:#666;
    color:#fff;
    text-decoration:none;
}
a.playing {
	color: #900;
	font-weight:bold;
}


/* BUTTONS */

#controls {
	padding-top:20px;
}

#controls li {
    padding-right:5px;
}

#songlist {
	padding-top:20px;
}

a.button {
    border:1px solid #999;
    border-radius:18px;
    background: #fff;
    background-image:-webkit-gradient(linear, 0% 1%, 0% 95%, from(rgba(240,240,240,1.0)), to(rgba(200,200,200,1.0)));
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button#play {
	width:50px;
	text-align:center;
}

a.button span {
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}

a.button:active {
    background-image:-webkit-gradient(linear, 0% 1%, 0% 95%, from(rgba(200,200,200,1.0)), to(rgba(240,240,240,1.0)));
    color: #999;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    padding: 6px 0 4px 18px; /* push text down 1px */
}