%title tTunes

#container.container_12
  - if flash[:notice]
    = flash[:notice]
    %p
  -
  .grid_12
    .grid_6.alpha
      .round_box.topmost
        %span.current_category= 'Ratings'
      .clear
      #ratings
        - @ratings.each do |rating|
          = render :partial => "shared/rating", :object => rating
    .grid_2
      .round_box.topmost= render :partial => 'shared/right_nav'