.album_thumbnail= thumbnail_tag(album)
.album_details
  .artist_album= album.artist ? link_to(album.artist.name, album.artist) : '(no artist)'
  .artist= link_to(album.title || '(no title)', album)
  .rating
    - (album.rating.to_i / 20).times do |i|
      .stars.bright
    - (5 - (album.rating.to_i / 20)).times do |i|
      .stars
.clear