/ CONTROLS TEMPLATE
%script#controls-template{:type => 'text/template'}
  .controls.btn-group
    %button.btn.prev
      %i.icon-backward
    %button.btn.play
      %i.icon-play
    %button.btn.next
      %i.icon-forward
  %h3 Playlist