- content_for :head do
  :javascript
    $(function () {
      var init_data = {
        albums: #{@albums.to_json},
        artists: #{@artists.to_json},
        comments: #{@comments.to_json},
        users: #{@users.to_json}
      }
      app.init(init_data);
    });

.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{'data-toggle'=>'collapse', 'data-target'=>'.nav-collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "#"} ToasTunes
      .nav-collapse
        %ul.nav
          %li
            %a{:href => "#artists"} Artists
          %li#albums-menu.dropdown
            %a.dropdown-toggle{'data-toggle' => "dropdown", :href => "#albums-menu"}
              Albums
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href=>'#albums'} Newest
          %li
            %a{:href => "#genres"} Genres
          %li
            %a{:href => "#comments"} Comments
          %li
            %a{:href => "#ratings"} Ratings
          %li
            %a{:href => "#users"} Users
.container
  .row
    .span3
      #list List
    .span6
      #detail Detail
    .span3
      #playlist Playlist


/ ALBUM SUMMARY TEMPLATE
%script#album-summary-template{:type => 'text/template'}
  .album-thumbnail
    %a{:href => "#albums/{{ album._id }}"}
      %img{:src => '{{ thumbnail_path album.library album.thumbnail }}', :width => '75', :height => '75'}
  .info
    .artist-name
      %a{:href => "#artists/{{ album.artist_id }}"} {{ album.artist_name }}
    .title
      %a{:href => "#albums/{{ album._id }}"} {{ album.title }}
    {{#if comment }}
    .body "{{ comment.body }}"
    {{/if}}
    {{#if remove}}
    .remove
      %a{:href => "#remove"} (remove)
    {{/if}}

/ CONTROLS TEMPLATE
%script#controls-template{:type => 'text/template'}
  .controls.btn-group
    %button.btn.prev &lt;&lt;
    %button.btn.play &#x25B6;
    %button.btn.next &gt;&gt;

/ ALBUM DETAIL TEMPLATE
%script#album-detail-template{:type => 'text/template'}
  .album-detail
    %a{:href => "#artists/{{ artist_id }}"}
      .artist-name {{ artist_name }}
    .title {{ title }}
  .album-cover
    %img{:src => '{{ cover_path library cover }}'}
  %ul.nav.nav-tabs
    %li.active
      %a{:href=>'#album-tracks', 'data-toggle'=>'tab'}
        Tracks
        %span.badge {{ length tracks }}
    %li
      %a{:href=>'#album-comments', 'data-toggle'=>'tab'}
        Comments
    %li
      %a{:href=>'#album-ratings', 'data-toggle'=>'tab'}
        Ratings

  .tab-content
    #album-tracks.tab-pane.active
      {{#tracks}}
      .track{'data-track-id' => '{{ _id }}'}
        %a{:href => "#albums/{{ ../_id }}/tracks/{{ _id }}"} {{title}}
      {{/tracks}}

    #album-comments.tab-pane
    #album-ratings.tab-pane


/ ALBUM COMMENTS TEMPLATE
%script#album-comments-template{:type => 'text/template'}
  {{#comments}}
  .comment{'data-comment-id' => '{{ _id }}'}
    {{body}}
  {{/comments}}

/ ARTIST SUMMARY TEMPLATE
%script#artist-summary-template{:type => 'text/template'}
  .artist-name
    %a{:href => "#artists/{{ _id }}"} {{ name }}


/ ARTIST DETAIL TEMPLATE
%script#artist-detail-template{:type => 'text/template'}
  .albums