.album-detail {
  .artist-name {
    font-size: 28px;
  }
  .title {
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 10px;
  }
}

.album-playlist {
  margin-bottom: 5px;
//  .clearfix();
}

.album-summary {
  margin-bottom: 5px;
//  .clearfix();
}

.album-thumbnail {
  float: left;
  margin-right: 5px;
}

.album-cover {
  img {
    max-width: 425px;
  }
}
