a {
  color: black;
}

.artist-name {
  font-weight: bold;
}

#detail {
  .album-cover {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .album-detail {
    .artist-name {
      font-size: 28px;
    }
    .title {
      font-size: 18px;
      padding-top: 5px;
      padding-bottom: 10px;
    }
  }
  .tracklist {
    .playing {
      font-weight: bold;
    }
    .playing:before {
      content: "\25B8  ";
    }
  }
}

.album-playlist {
  margin-bottom: 5px;
//  .clearfix();
}

.album-summary {
  margin-bottom: 5px;
//  .clearfix();
}

.album-thumbnail {
  cursor: pointer;
  float: left;
  margin-right: 5px;
}

.album-cover {
  img {
    max-width: 425px;
  }
}
