<!DOCTYPE html>
<html>
<head>
  <title>ToasTunes</title>
  <%= stylesheet_link_tag    "application", :media => 'all' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">ToasTunes</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="artists">Artists</a></li>
          <li><a href="albums">Albums</a></li>
          <li><a href="genres">Genres</a></li>
          <li><a href="comments">Comments</a></li>
          <li><a href="ratings">Ratings</a></li>
          <li><a href="users">Users</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span9">
      <div id="stage">
        <%= yield %>
      </div>
    </div>
    <div class="span3"><h2>Playlist</h2></div>
  </div>
</div>


<!-- ALBUM TEMPLATE -->
<script type="text/template" id="album-template">
  <div class="title">{{ title }}</div>
  <div class="artist_name">{{ artist }}</div>
</script>


<!-- ALBUMS TEMPLATE -->
<script type="text/template" id="albums-template">
  {{#albums}}
    <img src={{ thumbnail }}>
    <div class="title">{{ title }}</div>
    <div class="artist_name">{{ artist_name }}</div>
  {{/albums}}
</script>


</body>
</html>
