<!DOCTYPE html>
<html>
<head>
  <title>ToasTunes</title>
  <%= stylesheet_link_tag    "application", :media => 'all' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<audio autobuffer="autobuffer" id="player"></audio>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">ToasTunes</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="#artists">Artists</a></li>
          <li><a href="#albums">Albums</a></li>
          <li><a href="#genres">Genres</a></li>
          <li><a href="#comments">Comments</a></li>
          <li><a href="#ratings">Ratings</a></li>
          <li><a href="#users">Users</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span3">
      <div id="list">
        <%= yield %>
      </div>
    </div>
    <div class="span6">
      <div id="album-detail">
        <h2>Album</h2>
      </div>
    </div>
    <div class="span3">
      <div id="playlist">
        <h2>Playlist</h2>
      </div>
    </div>
  </div>
</div>


<!-- ALBUM SUMMARY TEMPLATE -->
<script type="text/template" id="album-summary-template">
  <div class="album-thumbnail">
    <img src={{ thumbnail }}>
  </div>
  <div class="info">
    <div class="artist-name">{{ artist_name }}</div>
    <div class="title">{{ title }}</div>
  </div>
</script>

<!-- CONTROLS TEMPLATE -->
<script type="text/template" id="controls-template">
  <div class="controls">
    <ul class="button">
      <li class="button">
        <a class="button prev" href="#">
          <span>&lt;&lt;</span>
        </a>
      </li>
      <li class="button">
        <a class="button play" href="#">
          <span>play</span>
        </a>
      </li>
      <li class="button">
        <a class="button next" href="#">
          <span>&gt;&gt;</span>
        </a>
      </li>
    </ul>
  </div>
</script>

<!-- ALBUM PLAYLIST TEMPLATE -->
<script type="text/template" id="album-playlist-template">
  <div class="album-thumbnail">
    <img src={{ thumbnail }}>
  </div>
  <div class="info">
    <div class="artist-name">{{ artist_name }}</div>
    <div class="title">{{ title }}</div>
    <div class="remove"><a href="#remove">(remove)</a></div>
  </div>
</script>


<!-- ALBUM DETAIL TEMPLATE -->
<script type="text/template" id="album-detail-template">
  <div class="album-detail">
    <div class="artist-name">{{ artist_name }}</div>
    <div class="title">{{ title }}</div>
  </div>
  <div class="album-cover">
    <img src={{ cover }}>
  </div>
  <div class="tracklist">
    {{#tracks}}
      <div class="track">{{title}}</div>
    {{/tracks}}
  </div>
</script>


</body>
</html>
